
@{
    ViewData["Title"] = "Settings";
}

    <div class="col--medium col--center">

        <div class="title">
            <h2>
                Settings
            </h2>
        </div>

        <ul class="settings__wrapper">
            <li>
                <input type="radio" id="binary" name="binary" value="Binary Quiz" />
                <label for="binary">Yes and No Choice Quiz</label>
            </li>

            <li>
                <input type="radio" id="multiple" name="multiple" value="Multiple Choice Quiz" />
                <label for="multiple">Multiple Choice Quiz</label>
            </li>
        </ul>
    </div>

<script src="~/resources/js/settings.js" type="text/javascript"></script>
